@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-checkered-pattern {
  background-size: 20px 20px;
  background-image: linear-gradient(black 1px, transparent 1px), linear-gradient(90deg, black 1px, transparent 1px);
}




body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

  font-family: 'Rubik', sans-serif;
  font-family: 'Courier Prime', monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .shadow-shape {
    box-shadow: 8px 8px 0 #000;
  }

  .shadow-box {
    box-shadow: 6px 6px 0 #000;
  }

  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75),
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75),
        0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }

  .glitch {
    animation: glitch 1s linear infinite;
  }


}

@layer components {
  .prose {
    @apply text-stone-800;
  }

  .prose h2 {
    @apply text-2xl font-bold mt-8 mb-4 text-stone-900;
  }

  .prose h3 {
    @apply text-xl font-bold mt-6 mb-3 text-stone-900;
  }

  .prose p {
    @apply mb-4;
  }

  .prose a {
    @apply text-blue-600 underline hover:text-blue-800;
  }

  .prose ul,
  .prose ol {
    @apply pl-6 mb-4;
  }

  .prose li {
    @apply mb-2;
  }

  .prose blockquote {
    @apply pl-4 border-l-4 border-stone-300 italic my-4;
  }

  .prose img {
    @apply max-w-full h-auto my-4;
  }

  .prose pre {
    @apply bg-stone-100 p-4 rounded-md overflow-x-auto my-4;
  }

  .prose code {
    @apply bg-stone-100 px-1 py-0.5 rounded;
  }
}